/* Избира ВСИЧКИ елементи на уеб страницата */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-image {
  background-image: url('../images/backgraund.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* черен слой върху фон изображението */
.background-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.navbar {
  background-color: rgba(58, 58, 58, 0.72); /* полупрозрачен тъмен фон */
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 50px 20px;
}

.login-container {
  background: rgba(255, 255, 255, 0.95);
  color: #333;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  color: #000;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
/* Бутон за логин */
.login-form button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
/* Ефект при задържане на бутона */
.login-form button:hover {
  background-color: #333333;
}

.small-text {
  font-size: 14px;
  margin-top: 15px;
}

.small-text a {
  color: #404040;
  text-decoration: none;
}
/* Ефект при задържане на линка */
.small-text a:hover {
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 15px 0;
  color: white;
  text-align: center;
  z-index: 1000;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 15px 0;
  text-align: center;
  z-index: 1000;
}
/* Икони в футъра - размери и заоблени ъгли */
.footer .socials img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0 5px;
}
