* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
}

.background-image {
  background-image: url('../images/backgraund.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);/* черен филтър с 60% прозрачност */
  z-index: 0;
}

.navbar {
  background-color: #3a3a3ab6; /* тъмен с прозрачност */
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;/* винаги отпред */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;/* лого и меню са отдалечени */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;/* без подчертаване */
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;/* изображението не се изрязва */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.thankyou-section {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 40px;
}

.thankyou-box {
  background: rgba(155, 155, 155, 0.95);/* светлосив, почти непрозрачен фон */
  color: #000000;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);/* сянка за обем */
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.back-button:hover {
  background-color: #333;
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #222;
  padding: 20px;
  text-align: center;
}

.footer img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
   object-fit: cover;
  border-radius: 6px;
}
